body{

    background-image: url(assets/wallpaper.webp);

}

header{

font-size: xx-large;

}

main{

background-color: beige;


}


#forms{

}

#motivo{

width: 400px;
height: 100px;
resize: none;

}

